---
import Layout from '../layouts/Layout.astro';
import * as projectsJSON from '../data/projects.json';
import Card from '@components/Card.astro';

function capitalize(string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}

const projects = projectsJSON.projects
const volunteer = projectsJSON.volunteer
const categories = ["software", "creative", "volunteer", "hobby"]
---
<Layout title="Work" currentPage="work">
  <div class="WorkWrapper">
    <h2>Projects</h2>
    {
      categories.map((category) => {
        return (
          <h3>{capitalize(category)}</h3>
          <div class="ProjectWrapper">
            {
              projects.filter((project) => project.category === category).map((project) => {
                return (
                  <Card 
                  href={project.url} 
                  title={project.name} 
                  desc={project.description} 
                  background={project.background}
                  external
                  />
                )
              })
            }
          </div>
        )
      })
    }    
  </div>
</Layout>
<style lang="scss">
  @use "../../styles/_color.scss" as *;
  @use "../../styles/_breakpoints.scss" as *;
  @use "sass:color";

  .WorkWrapper {
    width: 100%;
  }
  .ProjectWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
</style>
