---
export interface Props {
	href: string,
	title: string,
	background: { light: string, dark: string },
	width?: number,
	highlightColor?: string
}

const { href, title, background, width=150, highlightColor="" } = Astro.props;

---
<a class="link-card" target="_blank" href={href} aria-label=`${title}, opens in new tab`>
	<picture>
		<source srcset={background.dark} media="(prefers-color-scheme: dark)">
		<img src={background.light} alt="">
	</picture>
	<p class="link-card-title" aria-hidden="true">{title}</p>
</a>
<style lang="scss" define:vars={{ width: `${width}px`, hltColor: `${highlightColor}` }}>
	@use "sass:color";
	@use "../../styles/animations" as *;
	@use "../../styles/breakpoints" as *;
	@use "../../styles/colors" as *;

	$gray-lt: color.adjust($gray-ash, $lightness: 25%);
	$width: var(--width, 318px);
	$hltColor: var(--hltColor, $orange);
	@media (prefers-reduced-motion) {
		.link-card {
			transition: none !important;
		}
	}

	$sm-size-factor: 0.6;
	.link-card {
		display: block;
		background-color: #f5f9fa;
		border: 3px solid $hltColor;
		border-radius: 10px;
		position: relative;
		width: $width;
		height: $width;
		
		@include diagonalColorSwipe($hltColor);
		
		@include sm {
			width: calc($width * $sm-size-factor);
			height: calc($width * $sm-size-factor);
		}
		
		@media (prefers-color-scheme: dark) {
			background-color: $black-eerie;
		}
		
		& img {
			$length: 100px;
			height: $length;
			width: $length;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -51.5%);
			transition: 0.2s ease;

			@include sm {
				width: calc($length * $sm-size-factor);
				height: calc($length * $sm-size-factor);
				transform: translate(-50%, -58.5%)
			}
		}

		&:hover, &:focus, &:active {
			.link-card-title {
				@media (prefers-color-scheme: dark) {
					color: $white;
				}
			}

			img {
				transform: translate(-50%, -58.5%);
			}
		}
	}

	.link-card-title {
		display: block;
		position: absolute;
		color: #f5f9fa;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1rem;
		font-weight: bolder;
		margin: 0;
		transition: all 0.3s 0.05s ease-in-out;

		@media (prefers-color-scheme: dark) {
			color: $black-eerie;
		}

		@include sm {
			font-size: .75rem;
			bottom: 3px;
			color: $black-eerie;

			@media (prefers-color-scheme: dark) {
				color: #f5f9fa;
			}
		}
	}
</style>
