---
export interface Props {
	href: string,
	title: string,
	background: { light: string, dark: string },
	width?: number,
	highlightColor?: string
}

const { href, title, background, width=318, highlightColor="" } = Astro.props;

---
<a class="link-card" target="_blank" href={href} aria-label=`${title}, opens in new tab`>
	<picture>
		<source srcset={background.dark} media="(prefers-color-scheme: dark)">
		<img src={background.light} alt="">
	</picture>
	<p class="link-card-title" aria-hidden="true">{title}</p>
</a>
<style lang="scss" define:vars={{ width: `${width}px`, hltColor: `${highlightColor}` }}>
	@use "sass:color";
	@use "../../styles/animations" as *;
	@use "../../styles/breakpoints" as *;
	@use "../../styles/colors" as *;

	$gray-lt: color.adjust($gray-ash, $lightness: 25%);
	$width: var(--width, 318px);
	$hltColor: var(--hltColor, $orange);
	@media (prefers-reduced-motion) {
		.link-card {
			transition: none !important;
		}
	}

	$sm-size-factor: 1.25;
	.link-card {
		display: block;
		background-color: $gray-lt;
		border-radius: 10px;
		position: relative;
		width: $width;
		height: 318px;
		
		@include diagonalColorSwipe($hltColor);
		
		@include sm {
			width: calc($width / $sm-size-factor);
			height: calc($width / $sm-size-factor);
		}
		
		@media (prefers-color-scheme: dark) {
			background-color: $black-eerie;
		}
		
		& img {
			$length: 180px;
			height: $length;
			width: $length;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -51.5%);

			@include sm {
				width: calc($length / $sm-size-factor);
				height: calc($length / $sm-size-factor);
			}
		}

		&:hover, &:focus, &:active {
			.link-card-title {
				@media (prefers-color-scheme: dark) {
					color: $white;
				}
			}
		}
	}

	.link-card-title {
		display: block;
		position: absolute;
		color: $gray-lt;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 2.5rem;
		font-weight: bolder;
		margin: 0;
		transition: all 0.3s 0.05s ease-in-out;

		@include sm {
			font-size: 1rem;
		}

		@media (prefers-color-scheme: dark) {
			color: $black-eerie;
		}
	}
</style>
